/**picjumbo.com**/


html{
	-webkit-font-smoothing:antialiased;
	box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}
body{
	background-color:gray;
}
div{
	border:1px solid orange;
}
.top-navigation{
	background-color: #fff;
	position:fixed;
	top:0;
	left:0;
	width:100%;
	height: 3.1rem;
	font-size:20px;
	font-family:'Abril Fatface',Georgia,sans-serif;
	font-weight: 600;
}
.top-navigation .navigation-items a{
	color:#000;
}
.top-navigation > .navigation-content{
	width:970px;
	height:50px;
	margin:0 auto;
}
.top-navigation .navigation-items li{
	display:inline-block;
	list-style-type:none;
	padding-right:20px;
	float:left;
}
.top-navigation .navigation-items{
	float:right;
}
li.display-name {
	position:fixed;
	top:1rem;
	left:10rem;
}
ul.navigation-items {
    margin-top: 15px;
}
.navigation-items a:link{
	text-decoration:none;
}
.introduction{
	background-image:url('../background.jpg');
	background-position: center bottom;
	background-repeat:no-repeat;
	background-size: contain;
	overflow:hidden;
	height: 26.5rem;
}
.introduction div{

}
.content{
	text-align:center;
	padding: 4.5rem;
	font-family:'Yeseva One',Georgia,sans-serif;
	font-size: 21px;
}